body{
    background-image: url(./images/beer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tap-it {
    height: 44vmin;
    width: 22vmin;
    position: absolute;
    left: 6%;
    bottom: 0;
}