body{
    background-image: url(./images/beer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 100%;
    padding: 0;

}
.title {
    text-align: center;
    font-size: 4em;
    color: #FFFFFF;
    background: #000000;
    opacity: 0.8;
}

.tap-it {
    height: 44vmin;
    width: 22vmin;
    /*position: absolute;*/
    position: fixed;
    left: 2%;

    bottom: 0;
}

.yelp-container{
    padding-right: 0;
}

.black-box, .yelp-review-area {
    background: #000000;
    opacity: .8;
    color: white;
    font-weight: 700;
}
.black-box{
    margin: 2em 0;
    padding: 3em 1em;
}
.yelp-review-area{
    padding: 8px;
    margin: 2em 0;
}
.food-rec{
    word-wrap: break-word;
}

.biz-review{
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}
.main-attr, .secondary-attr {
    display: flex;
}
.main-info{
    /*display: inline-block;*/
}
.main-img{
    /*display: inline-block;*/
    padding-right: 8px;
}
.img {
    border-radius: 4px;
}
.secondary-attr {
    /*float: right;*/
    flex-direction: column;
    align-items: flex-end;
}
